/**** BASE STYLES ****/

body {
      color: #828282;
      font-family:'Source Sans Pro', sans-serif;
}

/**** GRID ****/

.full-width {
      margin: 0 auto;
      overflow: auto;
      width: 1200px;
}
.half-width {
      float: left;
      width: 600px;
}
.third-width {
      float: left;
      width: 400px;
}

/***** HEADER *****/

header {
    background: url('../img/sea.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
}
header h1 {
    color: linen;
    font-family: 'Lora', serif;
    font-size: 30px;
    padding: 65px 0 65px 25px;
}

/***** NAVIGATION *****/

nav {
    float: right;
    padding: 75px 25px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: #828282;
    font-size: 18px;
    padding-left: 80px;
    text-transform: uppercase;
    text-decoration: none;
}
header h2 {
  clear: both;
  color: whitesmoke;
  font-family: 'Lora', serif;
  font-size: 65px;
  line-height: 60px;
  padding: 20px 0 20px 25px;
  width: 1000px;
}
header h2 span {
    color: #828282;
}

header h2 span .italics {
  font-style: italic;
}

/***** ABOUT *****/

#about .full-width {
      padding: 80px 0;
}
#about h2 {
      font-family: 'Lora', serif;
      font-size: 36px;
      font-weight: bold;
      padding-left: 50px;
}
#about p {
      color: #7f7f7f;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 21px;
      line-height: 40px;
      padding-left: 50px;
      padding-right: 50px;
}

/***** WORK *****/

#work {
      background: linen;
      text-align: center;
      color: #828282;
}
#work .full-width {
      padding: 115px 0;
}
#work img {
      padding-bottom: 30px;
}
#work h3 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      margin: 0 auto;
      text-align: center;
      width: 190px;
}
#work p {
      font-family: 'Lora', serif;
      font-size: 18px;
      line-height: 30px;
      padding: 0 50px;
}

/***** CONTACT *****/

#contact {
    background: whitesmoke;
}
#contact .full-width {
    padding: 90px 0;
}
#contact img#contact-img {
    border: 5px solid #828282;
    margin-left: 150px;
    width: 300px;
    height: auto;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
  padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
}
#contact #email-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-size: 23px;
    font-weight: normal;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    color: #c49075;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
#contact ul {
      list-style: none;
}
#contact ul li {
      display: inline-block;
}
#contact ul img {
    padding-left: 150px;
}
